$grayscale-800: #0b1332;
$grayscale-700: #6f7488;
$grayscale-600: #717583;
$grayscale-300: #cacdd7;
$grayscale-200: #f2f3f4;
$grayscale-100: #ffffff;

$primary: #466efa;
$primary-600: #113aca;
$primary-200: #dae2ff;
$primary-150: #e5ebff;
$primary-100: #f6f8ff;

$error: #f46666;

$success: #17bc77;
