@use "src/styles/font";
@use "src/styles/color";
@use "src/styles/params";

.Header {
  width: 100%;
	display: flex;
	padding: 0px 120px;
	display: flex;
	justify-content: space-between;
  align-items: center;
  min-height:80px ;
  border-bottom: 1px solid #efefef;
}
